{% extends 'modelo.html' %}

{% block titulo %}
<title>Vendas</title>
{% endblock %}

{% block conteudo %}
<div class="container d-flex flex-column align-items-center justify-content-center p-3">
 
    <h2 class="text-light">{{itens.0.venda}} </h2>
</div>
<div class="container">
    {% if itens %}
    <h3  class="text-light">({{contagem}} itens) Valor Total: {{valorTotal}} Reais</h3>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor aplicado</th>
                <th scope="col">Valor total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens%}
            <tr>
                <th scope="row">{{item.id}}</th>
                <!-- <th scope="row"><a href="#modal{{items.id}}" data-toggle="modal">{{items.descricao}}</a></th> -->
                <th scope="row">{{item.produto}}</th>
                <th scope="row">{{item.quantidade}}</th>
                <th scope="row">{{item.valorProdutoAplicado}}</th>
                <th scope="row">{{item.valorTotal}}</th>
            </tr>
            
            {% endfor%}
        </tbody>
    </table>
    {% else %}
    <h2>Não existem itens relacionados à essa venda... :(</h2>
    {% endif %}


</div>
{% endblock %}
