{% extends 'modelo.html' %}
{%load static%}
{% block titulo %}
<title>Início</title>
{% endblock %}

{% block conteudo %}
<div class="container min-vh-100 d-flex align-items-start ">
    <div class="container 0 bg-light d-flex flex-column justify-content-center align-items-center border border-light rounded w-100 p-4 mt-5"
        style="max-width: 350px" ;>

        Bem vindo! <strong> {{ request.user }}</strong> 
        Último acesso: <strong>{{request.user.last_login}}</strong>
        <a class="container mt-4 mb-2" href="/efetuar_venda">
            <input class="container" type="button" value="Registrar venda" />
        </a>
        <a class="container mt-4 mb-2" href="/cadastrar_produto">
            <input class="container" type="button" value="Adicionar produto" />
        </a>
        <a class="container mt-4 mb-2" href="/painel">
            <input class="container" type="button" value="Painel admnistrativo" />
        </a>


    </div>

</div>
{% endblock %}