{% extends 'modelo.html' %}

{% block conteudo %}
<div class="container d-flex flex-column align-items-center justify-content-center p-3">
    EDITAR PRODUTO
    <table>
        <thead>                
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>estoque</th>               
            </tr>
        </thead>
        <tbody>                
            <tr>
                <td><a href="{% url 'index' %}">{{produto.nome}}</a></td>
                <td>{{produto.precoVenda}}</td>
                <td>{{produto.qtdEstoque}}</td>
            </tr>            
        </tbody>
    </table>
    </div>
    
{% endblock %}