body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #341256;
    color: #ffffff;
}


a{
    text-decoration: underline;
    color: #ffffff !important;
    

}
a:hover{
    color: rgb(0, 0, 0) !important;
}

.imagem-nav{
    
    width: 100px;
    border-radius: 200px;
}

.imagem-logo{
    
    width: 180px;
    border-radius: 200px;
   
}

thead{
    border: solid 3px #929292 !important
}
